body {
    background-color: rgb(255, 225, 0);
    font-family:Arial, Helvetica, sans-serif;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.title {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 80px;
}

.title-name { 
    font-size: 60px;
    color: black;
    font-weight: 600;
    animation: blink 1s step-start infinite;
}

@keyframes blink {
    40% {
        opacity: 100;
    }
    50% {
        opacity: 0;
      }
    60% {
        opacity: 100;
    }
    70% {
        opacity: 0;
      }
}